<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Civic Reach</title>
</head>

<body>
  {{{body}}}
  <!-- Footer START -->
    <footer id="footer">
        <div class="container">
            <div class="col-md-12 text-center">
                <!-- <div class="copy">
                    Copyright &copy; 2017. All rights reserved by <a href="https://www.themeforest.net/user/modern_themes" target="_blank">Modern Themes</a>
                </div> -->

                <ul class="list-inline social-icons">
                    <li><a href="https://www.linkedin.com/in/laura-baughman-a74962176/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/lrlbaughman" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true" ></i></a></li>
                    <li><a href="https://m.facebook.com/laura.lindgren" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li> -->
                    <li><a href="https://www.instagram.com/nwforager/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble fa-2x" aria-hidden="true"></i></a></li> -->
                </ul>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
</body>

</html>
