<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                {{!-- <img src="/public/images/logo-placeholder.png" width="30" height="30" class="d-inline-block align-top" alt="logo"> --}}
                App Name
            </a>
    </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <h1>Your Organization's Dashboard</h1>
            </div>
            <div class="row">
                <a href="/postevent" class="btn btn-outline-success my-2 my-sm-0" type="submit"> Post an event</a>
                <a href="/postneed" class="btn btn-outline-success my-2 my-sm-0" type="submit"> Post a need</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>