<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                {{!-- <img src="/public/images/logo-placeholder.png" width="30" height="30" class="d-inline-block align-top" alt="logo"> --}}
                Civic Reach
            </a>
    </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-8 offset-3">
            <h1>Your Organization's Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>Let your community know about an upcoming event!</h4>
            <a href="/postevent" class="btn btn-primary my-2 my-sm-0" role="button"> Post an event</a>
        </div>
        <div class="col-6">
            <h4>Let your community know about your organization's donation needs.</h4>
            <a href="/postneed" class="btn btn-primary my-2 my-sm-0" role="button"> Post a need</a>
        </div>
    </div>
</div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>