<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                {{!-- <img src="/public/images/logo-placeholder.png" width="30" height="30" class="d-inline-block align-top" alt="logo"> --}}
                App Name
            </a>
    </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <h1>Are you an organization looking to reach members of the community?</h1>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Select your organization name</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    {{#each orgs}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <a href="/dashboard" id="login-btn" type="submit" class="btn btn-primary float-right">Log in</a>
                <h3>Not in our system? <a href="/registration" type="button" class="btn btn-link">Click here to
                        register!</a></h3>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>