<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
                Civic Reach
            </a>
        </nav>
    </div>
</div>
<div class="container">
    <div class="col-8 offset-2">
        <form id="needForm" class="clearfix mb-4" action="POST">
            <h3>Post a Donation Need</h3>
            <div class="form-group">
                <label for="needTitle">Need Title</label>
                <input type="text" id="needTitle" class="form-control" aria-describedby="needTitle" placeholder=""
                    name="needTitle" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="type">Select the item type</label>
                </div>
                <select class="custom-select" id="type" name="type" required>
                    <option selected>Choose...</option>
                    <option value="1">Clothing</option>
                    <option value="2">Food</option>
                    <option value="3">Money</option>
                </select>
            </div>
            <div class="form-group">
                <label for="needQuantity">Quantity</label>
                <input type="number" id="needQuantity" class="form-control" aria-describedby="needQuantity"
                    placeholder="" name="needQuantity" required>
            </div>
            <div class="form-group">
                <label for="itemDescription">Need Description</label>
                <textarea class="form-control" id="itemDescription" aria-describedby="itemDescription"
                    placeholder="(Optional) Enter item description here"></textarea>
                <button id="donationSubmit" class="btn btn-primary float-right">Submit</button>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script src="/js/postneed.js"></script>