<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                {{!-- <img src="/public/images/logo-placeholder.png" width="30" height="30" class="d-inline-block align-top" alt="logo"> --}}
                App Name
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    </div>
    </nav>
</div>
<div class="container">
    <div class="col-8 offset-2">
        <div class="row">
            <h3>Not in our system? <a href="/registration" type="button" class="btn btn-link">Click here to
                    register!</a></h3>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Select your organization name</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <form class="clearfix mb-4 col-6" action="POST">
                <h3>Post an upcoming event</h3>
                <div class="form-group">
                    <label for="eventTitle">Event Title</label>
                    <input type="text" id="eventTitle" class="form-control" aria-describedby="eventTitle"
                        placeholder="">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Select the event type</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="eventDate">Event Date</label>
                    <input type="date" id="eventDate" class="form-control" aria-describedby="eventDate" placeholder="">
                </div>
                <div class="form-group">
                    <label for="startTime">Event Start Time</label>
                    <input type="time" id="startTime" class="form-control" aria-describedby="startTime" placeholder="">
                </div>
                <div class="form-group">
                    <label for="endTime">Event End Time</label>
                    <input type="time" id="endTime" class="form-control" aria-describedby="endTime" placeholder="">
                </div>
                <div class="form-group">
                    <label for="placeTitle">Venue Name</label>
                    <input type="text" id="placeTitle" class="form-control" aria-describedby="placeTitle"
                        placeholder="What is the name of the place where the event will occur?">
                </div>
                <div class="form-group">
                    <label for="eventInputAddress">Event Address</label>
                    <input type="text" class="form-control" id="eventInputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="eventInputAddress2">Event Address 2</label>
                    <input type="text" class="form-control" id="eventInputAddress2"
                        placeholder="(Optional - Suite number or floor)">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="eventInputCity">City</label>
                        <input type="text" class="form-control" id="eventInputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="eventInputState">State</label>
                        <select id="eventInputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="eventInputZip">Zip</label>
                        <input type="text" class="form-control" id="eventInputZip">
                    </div>
                </div>
                <div class="form-group">
                    <label for="eventDescription">Event Description</label>
                    <textarea class="form-control" id="eventDescription" aria-describedby="eventDescription"
                        placeholder="Enter your event description here"></textarea>
                    <button id="event-submit" class="btn btn-primary float-right">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>